html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
img {
  max-width: 100px;
  height: auto;
}
dl {
  font-size: 1.5em;
}
